<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
<h1>Choose Your Team</h1>
<% @teams.each do |team| %>
<p><%= team.name %></p>
<p><%= link_to 'team', team_path(team) %></p>
<% end %>
</div>
