<div class="container">
    <h1 class="text-center"> <%= @team.name %> </h1>
    <table style="width: 100%; border: 1px solid black; margin: 60px 0;">
    <tr>
        <th>Name</th>
        <th>Total Score</th>
        <th>Most Recent Note</th>
    </tr>
    <% @users.each do |u| %>
    <tr>
        <td class="text-center"><%= "#{u.first_name} #{u.last_name}" =%></td>
        <% if u.scores.last == nil %>
        <td class="text-center">No Score Yet</td>
        <% else %>
        <td class="text-center"><%= u.scores.last.challengetotal =%></td>
        <td> <%= u.scores.last.note =%> </td>
        <% end %>
    <% end %>
    </tr>
    </table>

</div>