@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome';
@import 'parallaxer.scss';
@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  font-family: "Lato";
  font-size: 16px;
}

header, nav, a, img, li, .logo {
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari and Chrome */
  -o-transition: all .5s; /* Opera */
}

body {
  margin-top: 80px;
}

body.large {
  margin-top: 80px;
}

body.large .splash {
  margin-top: -80px;
}

body.small {
  margin-top: 50px;
}

body.small .splash {
  margin-top: -50px;
}

.splash {
  margin-top: -80px;
}

/* Header */

header {
  height: 80px;
  background-color: rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.83);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.83);
}
  
  header li {
    font-weight: bold;
  }

  header li:not(:last-child) {
    margin-right: 25px;
  }

  header.large {
    height: 80px;
  }

  header.large .logo {
    font-size: 40px;
    font-weight: bold;
    float: left;
    padding-top: 10px;
  }

  header.large li {
    margin-top: 22px;
    font-size: 20px;
  }

  header.small {
    height: 50px;
  }

  header.small .logo {
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin-top: 2px;
  }

  header.small li {
    margin-top: 12px;
    font-size: 16px;
  }

/* End Header */

.navigation {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

.nav_links {
  float: right;
}

  .nav_links li {
    display: inline;
    float: left;
  }

.signup {
  min-width: 500px;
  max-width: 600px;
  margin: 150px auto 0;
  background: #CCCCCC;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  padding: 15px;
}

.intro_image {
  height: 100vh;
  background: url('shredzilla.jpg');
  background-size: cover;
  background-position: center;
}

.top_bar {
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
}

.postform_wrapper {
  width: 80%;
  margin: 0 auto;
}

.nav_container {
  max-width: 1000px;
  min-width: 600px;
  padding-top: 20px;
  margin: 0 auto;
  border: 1px solid gray;
}

.fadeInBlock {
  opacity:0;
}

footer {
  background: #141414;
  color: #7F7F7F;
  font-size: 14px;
  height: 70px;
  width: 100%;
  padding: 25px 0 0;
}